/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.navStyles {
    margin-left: 9%;
    margin-right: 9%;
}

.footStyles {
    margin-top: 4%;
    margin-left: 10.1%;
    margin-right: 10.1%;
    border-radius: 8px 8px 0px 0px;
}

.background {
    background-color: #f3f2f0;
}

.freelancer-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background-color: #f3f2f0;
}

.freelancer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.Project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background-color: #f3f2f0;
}

.Project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.freelancer-profile {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background-color: #f3f2f0;
}