/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.navStyles {
    margin-left: 9%;
    margin-right: 9%;
}

.footStyles {
    margin-top: 5%;
    margin-left: 10.1%;
    margin-right: 10.1%;
    border-radius: 8px 8px 0px 0px;
}