/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.navStyles {
    margin-left: 9%;
    margin-right: 9%;
}

.footStyles {
    margin-top: 4%;
    margin-left: 10.1%;
    margin-right: 10.1%;
    border-radius: 8px 8px 0px 0px;
}

.background {
    background-color: #f3f2f0;
}

.freelancer-card .card-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.freelancer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.Project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}


.btn-info {
  background-color: #00cfff;
  color: #000;
  transition: all 0.3s ease;
}


.btn-outline-dark {
  border-color: #343a40;
  color: #343a40;
  transition: all 0.3s ease;
}

.btn-outline-dark:hover {
  background-color: #343a40;
  color: white;
}

.project-card {
  background-color: #F9F9F9;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}



